In [1]:
import pandas as pd, numpy as np
from ortools.sat.python import cp_model

In [2]:
nos = pd.read_excel('rotas_input.xlsx', sheet_name='nos')
caminhos = pd.read_excel('rotas_input.xlsx', sheet_name='caminhos')
n_nos = len(nos)
n_caminhos = len(caminhos)

In [3]:
nos

   no     desc
0   1   origem
1   2     meio
2   3     meio
3   4     meio
4   5     meio
5   6     meio
6   7  destino

In [4]:
caminhos

   no_de  no_para  distancia
0      1        2        220
1      1        3       1500
2      2        4        650
3      2        5        900
4      4        7        500
5      5        7        400
6      3        6        500
7      6        7        400

In [5]:
# model

model = cp_model.CpModel()
x = np.zeros(n_caminhos).tolist()
x

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [6]:
caminhos.index

RangeIndex(start=0, stop=8, step=1)

In [7]:
for c in caminhos.index:
    x[c] = model.NewIntVar(0,1, 'x[{}]'.format([c]))

In [8]:
x

[x[[0]](0..1),
 x[[1]](0..1),
 x[[2]](0..1),
 x[[3]](0..1),
 x[[4]](0..1),
 x[[5]](0..1),
 x[[6]](0..1),
 x[[7]](0..1)]