In [1]:
import pyomo.environ as pyo, numpy as np, pandas as pd
from pyomo.opt import SolverFactory

In [3]:
nos = pd.read_excel('rotas_input.xlsx', sheet_name='nos')
caminhos = pd.read_excel('rotas_input.xlsx', sheet_name='caminhos')

In [4]:
nos

   no     desc
0   1   origem
1   2     meio
2   3     meio
3   4     meio
4   5     meio
5   6     meio
6   7  destino

In [5]:
caminhos

   no_de  no_para  distancia
0      1        2        220
1      1        3       1500
2      2        4        650
3      2        5        900
4      4        7        500
5      5        7        400
6      3        6        500
7      6        7        400

In [6]:
caminhos[['no_de','no_para']]

   no_de  no_para
0      1        2
1      1        3
2      2        4
3      2        5
4      4        7
5      5        7
6      3        6
7      6        7

In [9]:
n_nos = len(nos)
n_caminhos = len(caminhos)
print('n_nos',n_nos)
print('n_caminhos',n_caminhos)

n_nos 7
n_caminhos 8

In [14]:
model = pyo.ConcreteModel()

In [10]:
xSet = np.zeros(n_caminhos).tolist()

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]