# Lists, Tuples and Dictionary

In [1]:
name = ['rafael','gabriel','michael']
mark=[9,10,7]
name[0]

'rafael'

In [4]:
name[0]= 'maria'

In [5]:
name

['maria', 'gabriel', 'michael']

In [2]:
sum(mark)

26

In [3]:
# Tuples
# you cannot modify a tuple
name2 =('rafael','gabriel','michael')
name2[0]

'rafael'

In [6]:
# Dictionary

students ={'name':['rafael','gabriel','michael'],
            'mark':[9,10,7]}

In [8]:
students

{'name': ['rafael', 'gabriel', 'michael'], 'mark': [9, 10, 7]}

In [7]:
print(students['name'])

['rafael', 'gabriel', 'michael']

In [9]:
students['name'][1]

'gabriel'

In [10]:
students['mark'][1]

10

# If For While

In [11]:
x=21

if x<10:
    print('condition 1')
elif x<20:
    print('condition 2')
else:
    print('condition 3')

condition 3

In [12]:
print('condition 1') if x<10 else print('condition 2')

condition 2

In [13]:
# For Loop
ages = [10,15,20,30,25]

for age in ages:
    print(age)

10
15
20
30
25

In [18]:
[print(age) for age in ages]
print('end') # necessary

10
15
20
30
25
end

In [19]:
[print(age) if age%2==0 else print('hello') for age in ages]
print('end') # necessary

10
hello
20
30
hello
end

In [16]:
print([age for age  in ages])

[10, 15, 20, 30, 25]

In [20]:
print([age if age%2==0 else print('hello') for age in ages])

hello
hello
[10, None, 20, 30, None]

In [22]:
print([age if age%2==0 else round(age/10)*10 for age in ages])

[10, 20, 20, 30, 20]

In [23]:
count = 0

while(count<10):
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

# Numpy

In [24]:
import numpy as np

ages = np.array([10,15,20,18])
marks = np.array([9,8,5,7])

In [25]:
print(marks[ages%2==0])

[9 5 7]

In [26]:
print(np.min(ages))
print(np.max(ages))

10
20

In [33]:
ages[marks>=7]

array([10, 15, 18])

In [31]:
np.mean([10,15])

12.5

In [32]:
print(np.mean(ages))

15.75

In [30]:
print(np.mean(ages[marks>=7]))

14.333333333333334

* Use Numpy inside loops to make your code faster

# Pandas

In [34]:
import pandas as pd

df = pd.DataFrame({
    'name':['rafael','gabriel','rafael','michael'],
    'mark':[10,9,8,7]
    })

In [35]:
print(df.mark[2])

8

In [36]:
print(df['mark'][2])

8

In [37]:
print(df.loc[2,'mark'])

8

In [38]:
print(df.groupby('name').mean())

         mark
name
gabriel     9
michael     7
rafael      9

In [39]:
print(df.groupby('name').count())

         mark
name
gabriel     1
michael     1
rafael      2

In [40]:
print(df.mark[df.name=='rafael'])

0    10
2     8
Name: mark, dtype: int64

In [41]:
print(df.mark[df.name=='rafael'].max())

10

In [42]:
#mark[df.name=='rafael'])
print(df.mark[df.name=='rafael'].max())

10

# Read from Excel

In [ ]:
dataMarks = pd.read_excel('data.xlsx', sheet_name='marks', engine='openpyxl')
dataPeople = pd.read_excel('data.xlsx', sheet_name='people')

dataAll = dataMarks.set_index('name').join(dataPeople.set_index('name'))

marks = dataAll.groupby('name').mark.mean()

print(marks)

marks.to_excel('output.xlsx')